<div>
    <h3>
        1. Change Detection Strategies:
    </h3>
    <div>
        <ul type="disc">
            <li>
                <a routerLink="parent">
                    Implement a parent-child component relationship where both
                    components use different change detection strategies (Default and
                    OnPush).
                </a>
            </li>
            <li>
                <a routerLink="primitive-nonprimitive-parent">
                    The parent component should have a button to update its own primitive
                    and non-primitive data.
                </a>
            </li>
            <li>
                <a routerLink="primitive-nonprimitive-parent-child">
                    The child component should display the data passed from the parent and
                    have a button to update its own data.
                </a>
            </li>
            <li>
                <a routerLink="cds-using-cdr">
                    Demonstrate how the change detection strategy affects when and how the
                    components are updated.
                </a>
            </li>
            <li>
                <a routerLink="cds-scenarios">
                    Showcase the behaviour of all possible scenario of Angular's OnPush
                    change detection strategy when updating component data
                </a>
            </li>
        </ul>
    </div>
</div>


<router-outlet></router-outlet>